In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import OneHotEncoder

df = sns.load_dataset("penguins")
df.dropna(inplace=True)

In [2]:
df_encoded = pd.get_dummies(
    df, columns=["sex", "island"], drop_first=True, dtype="int32"
)
df_encoded

,species,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex_Male,island_Dream,island_Torgersen
0,Adelie,39.1,18.7,181.0,3750.0,1,0,1
1,Adelie,39.5,17.4,186.0,3800.0,0,0,1
2,Adelie,40.3,18.0,195.0,3250.0,0,0,1
4,Adelie,36.7,19.3,193.0,3450.0,0,0,1
5,Adelie,39.3,20.6,190.0,3650.0,1,0,1
...,...,...,...,...,...,...,...,...
338,Gentoo,47.2,13.7,214.0,4925.0,0,0,0
340,Gentoo,46.8,14.3,215.0,4850.0,0,0,0
341,Gentoo,50.4,15.7,222.0,5750.0,1,0,0
342,Gentoo,45.2,14.8,212.0,5200.0,0,0,0
343,Gentoo,49.9,16.1,213.0,5400.0,1,0,0

In [3]:
features = df_encoded.drop(columns="species", axis="columns")
mapper = {"Adelie": 0, "Gentoo": 1, "Chinstrap": 2}
test = df_encoded["species"].replace(mapper)
x_train, x_test, y_train, y_test = train_test_split(
    features, test, test_size=0.2, random_state=42
)

/tmp/ipykernel_177746/1342471739.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  test = df_encoded["species"].replace(mapper)

In [4]:
RF = RandomForestClassifier(criterion="gini", n_estimators=5, random_state=0)
RF.fit(x_train, y_train)
print(RF.score(x_train, y_train)), print(RF.score(x_test, y_test))

1.0
1.0

(None, None)